gradeProj.sln
.vscode/launch.json
.vscode/tasks.json
src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.deps.json
src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.dll
src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.exe
src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.pdb
src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.runtimeconfig.dev.json
src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.runtimeconfig.json
src/GradeBook/obj/GradeBook.csproj.nuget.dgspec.json
src/GradeBook/obj/GradeBook.csproj.nuget.g.props
src/GradeBook/obj/GradeBook.csproj.nuget.g.targets
src/GradeBook/obj/project.assets.json
src/GradeBook/obj/project.nuget.cache
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/GradeBook.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/GradeBook.exe
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/GradeBook.pdb
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/gradebook.tests.deps.json
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/gradebook.tests.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/gradebook.tests.pdb
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/gradebook.tests.runtimeconfig.dev.json
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/gradebook.tests.runtimeconfig.json
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/Newtonsoft.Json.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/NuGet.Frameworks.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/testhost.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/xunit.abstractions.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/xunit.assert.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/xunit.core.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/BNB/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/GradeBook.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/GradeBook.exe
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/GradeBook.pdb
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/GradeBook.Tests.deps.json
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/GradeBook.Tests.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/GradeBook.Tests.pdb
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/GradeBook.Tests.runtimeconfig.dev.json
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/GradeBook.Tests.runtimeconfig.json
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/testhost.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/xunit.assert.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/xunit.core.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
src/GradeBook/obj/BNB/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/GradeBook/obj/BNB/Debug/netcoreapp3.1/GradeBook.AssemblyInfo.cs
src/GradeBook/obj/BNB/Debug/netcoreapp3.1/GradeBook.AssemblyInfoInputs.cache
src/GradeBook/obj/BNB/Debug/netcoreapp3.1/GradeBook.assets.cache
src/GradeBook/obj/BNB/Debug/netcoreapp3.1/GradeBook.csproj.CoreCompileInputs.cache
src/GradeBook/obj/BNB/Debug/netcoreapp3.1/GradeBook.csproj.FileListAbsolute.txt
src/GradeBook/obj/BNB/Debug/netcoreapp3.1/GradeBook.csprojAssemblyReference.cache
src/GradeBook/obj/BNB/Debug/netcoreapp3.1/GradeBook.dll
src/GradeBook/obj/BNB/Debug/netcoreapp3.1/GradeBook.exe
src/GradeBook/obj/BNB/Debug/netcoreapp3.1/GradeBook.genruntimeconfig.cache
src/GradeBook/obj/BNB/Debug/netcoreapp3.1/GradeBook.pdb
src/GradeBook/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.AssemblyInfo.cs
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.AssemblyInfoInputs.cache
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.assets.cache
src/GradeBook/bin/BNB/Debug/netcoreapp3.1/GradeBook.deps.json
src/GradeBook/bin/BNB/Debug/netcoreapp3.1/GradeBook.dll
src/GradeBook/bin/BNB/Debug/netcoreapp3.1/GradeBook.exe
src/GradeBook/bin/BNB/Debug/netcoreapp3.1/GradeBook.pdb
src/GradeBook/bin/BNB/Debug/netcoreapp3.1/GradeBook.runtimeconfig.dev.json
src/GradeBook/bin/BNB/Debug/netcoreapp3.1/GradeBook.runtimeconfig.json
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.csproj.CoreCompileInputs.cache
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.csproj.FileListAbsolute.txt
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.csprojAssemblyReference.cache
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.dll
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.exe
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.genruntimeconfig.cache
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.pdb
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/GradeBook.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/GradeBook.Tests/obj/Gradebook.tests.csproj.nuget.dgspec.json
test/GradeBook.Tests/obj/gradebook.tests.csproj.nuget.g.props
test/GradeBook.Tests/obj/gradebook.tests.csproj.nuget.g.targets
test/GradeBook.Tests/obj/project.assets.json
test/GradeBook.Tests/obj/project.nuget.cache
test/GradeBook.Tests/obj/BNB/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
test/GradeBook.Tests/obj/BNB/Debug/netcoreapp3.1/gradebook.tests.AssemblyInfo.cs
test/GradeBook.Tests/obj/BNB/Debug/netcoreapp3.1/gradebook.tests.AssemblyInfoInputs.cache
test/GradeBook.Tests/obj/BNB/Debug/netcoreapp3.1/gradebook.tests.assets.cache
test/GradeBook.Tests/obj/BNB/Debug/netcoreapp3.1/gradebook.tests.csproj.CopyComplete
test/GradeBook.Tests/obj/BNB/Debug/netcoreapp3.1/gradebook.tests.csproj.CoreCompileInputs.cache
test/GradeBook.Tests/obj/BNB/Debug/netcoreapp3.1/gradebook.tests.csproj.FileListAbsolute.txt
test/GradeBook.Tests/obj/BNB/Debug/netcoreapp3.1/GradeBook.Tests.csprojAssemblyReference.cache
test/GradeBook.Tests/obj/BNB/Debug/netcoreapp3.1/gradebook.tests.dll
test/GradeBook.Tests/obj/BNB/Debug/netcoreapp3.1/gradebook.tests.genruntimeconfig.cache
test/GradeBook.Tests/obj/BNB/Debug/netcoreapp3.1/gradebook.tests.pdb
test/GradeBook.Tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
test/GradeBook.Tests/obj/Debug/netcoreapp3.1/GradeBook.Tests.AssemblyInfo.cs
test/GradeBook.Tests/obj/Debug/netcoreapp3.1/GradeBook.Tests.AssemblyInfoInputs.cache
test/GradeBook.Tests/obj/Debug/netcoreapp3.1/GradeBook.Tests.assets.cache
test/GradeBook.Tests/obj/Debug/netcoreapp3.1/GradeBook.Tests.csproj.CopyComplete
test/GradeBook.Tests/obj/Debug/netcoreapp3.1/GradeBook.Tests.csproj.CoreCompileInputs.cache
test/GradeBook.Tests/obj/Debug/netcoreapp3.1/GradeBook.Tests.csproj.FileListAbsolute.txt
test/GradeBook.Tests/obj/Debug/netcoreapp3.1/GradeBook.Tests.csprojAssemblyReference.cache
test/GradeBook.Tests/obj/Debug/netcoreapp3.1/GradeBook.Tests.dll
test/GradeBook.Tests/obj/Debug/netcoreapp3.1/GradeBook.Tests.genruntimeconfig.cache
test/GradeBook.Tests/obj/Debug/netcoreapp3.1/GradeBook.Tests.pdb
Scott's Grade Book.txt
